.side-dish {
    background-color: darkred;
    height: 300px;
    width: auto;
}

.main-course {
    background-color: lightsalmon;

}

.dessert {
    background-color: brown;

}

.lists{
    text-align: center;
    list-style: inside;
}

body {
    background-color: bisque;
    text-align: center;
}